body {
  background-color: #9efff5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

input.slider-input {
  cursor: pointer;
}

#pixel-count {
  text-align: center;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#pixel-sketch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}

#grid-container {
  display: grid;
  border-style: solid;
}

.grid-cell {
  background-color: #9efff5;
}

#control-panel {
  display: flex;
  margin-top: 1em;
  border-style: solid;
  border-color: orange;
}

@media only screen and (max-width: 767px) {
  #grid-container {
    width: 350px;
    height: 350px;
  }

  #control-panel {
    width: 250px;
  }
}

@media only screen and (min-width: 768px) {
  #grid-container {
    width: 450px;
    height: 450px;
  }

  #control-panel {
    width: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  #grid-container {
    width: 600px;
    height: 600px;
  }

  #control-panel {
    width: 500px;
  }
}
