body {
  margin: 0;
  padding: 0em;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #1f2937;
  border-spacing: 0;
  padding: 1em 30em 1em 30em;
  display: flex;
  align-items: center;
}

nav {
  margin-left: auto;
}

header div#header {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bolder;
}

header nav ul.header-links {
  color: #e5e7eb;
  list-style: none;
  font-size: 18px;
}

header nav ul.header-links li {
  display: inline-block;
}

ul li {
  margin-left: 1em;
}

h1 {
  margin: 0;
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

figcaption {
  font-size: 12px;
  display: flex;
  justify-content: center;
  color: #686868;
  max-width: 120px;
  text-align: center;
}

.hero {
  background-color: #1f2937;
  padding: 1em 30em 1em 30em;
  display: flex;
  padding-bottom: 5em;
}

#hero1 {
  display: inline-block;
  max-width: 50%;
}

.subtext {
  display: block;
  color: #e5e7eb;
  font-size: 18px;
}

button {
  background-color: #3882f6;
  padding: 0.2em 1.2em 0.2em 1.2em;
  color: white;
  border-radius: 0.3em;
  border: none;
}

.placeholder-image {
  max-width: 50%;
  background-color: grey;
  width: 100%;
  margin-left: 2em;
}

.placeholder-image#image {
  width: 100%;
  height: 100%;
}

div.pic {
  border: solid;
  border-color: #3882f6;
  border-radius: 0.6em;
  width: 120px;
  height: 120px;
}

.picture-container figure {
  display: inline-block;
}

#information {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.information-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.quote {
  background-color: #e5e7eb;
  padding: 2em 18em 2em 18em;
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
}

blockquote {
  margin: 0;
}

section.quote figcaption#who-said-it {
  max-width: 100%;
  justify-content: end;
  font-size: 18px;
  font-style: bold;
  white-space: nowrap;
}

.call-to-action {
  background-color: #3882f6;
  color: white;
  display: flex;
  margin: 5em 14em 5em 14em;
  border-radius: 0.5em;
}

section.call-to-action div {
  max-width: 80%;
}

footer {
  background-color: #1f2937;
  color: white;
  font-size: 12px;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}
