html,
body {
  margin-top: 1%;
  margin-right: 1%;
  margin-left: 1%;
}

#app-container {
  display: flex;
  border-style: solid;
  border-radius: 1em;
  border-color: #ec3535;
  background-color: #ec3535;
}

#etch-a-sketch {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  top: 10px;
  border-style: solid;
  border-radius: 1em;
  border-color: #ec3535;
  /* background-color: grey; */
  padding: 50px 28% 50px 28%;
}

#grid-container {
  padding: 1em;
  border-style: solid;
  background-color: grey;
}

.grid-row {
  display: block;
  min-width: 447.8px;
}

.grid-cell {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-style: solid;
  border-color: black;
  margin-right: 3px;
}

#controls {
  position: absolute;
  bottom: 1em;
  border-style: solid;
  border-color: grey;
  border-radius: 5px;
}

#knob-container {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #ec3535;
}

.knob {
  height: 100px;
  width: 100px;
  /* margin-bottom: 2em; */
  border-style: solid;
  border-color: black;
  border-radius: 50%;
  background-color: #ffffff;
}

#knob-left {
  margin-right: auto;
}

#knob-right {
  margin-left: auto;
}
